<!DOCTYPE html>
<html>
<head>
  <title>CatalogTanks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Log out', log_out_path %>

<%= link_to 'tanks', tanks_path %>

<%= yield %>

</body>
</html>
