<%= form_for @blade do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name%>
	</p>
	<p>
		<%= f.label :speed %><br>
		<%= f.text_field :speed %>
	</p>
	<p>
		<%= f.label :number_of_layers %><br>
		<%= f.text_field :number_of_layers %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>
